.home {
  .banner-maps {
    position: relative;
    height: 90vh;
  }
  .slider-container {
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $color-black;
      position: absolute;
      opacity: .5;
    }
  }
  .auto-complete-container  {
    z-index: 11;
    width: 50%;
    top: 50%;
    position: absolute;
    transform: translate(50%, 100%);
  }
}
